 <!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>


  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>


<!-- Barra de navegación -->
<body>
  

<header>
   <nav>
   
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
     <li><a href="/Admin/perfil"><i class="material-icons">account_circle</i></a></li>
         
    </div>
  </nav>
</nav>
</header>

<section>
<table >
<tr> 
  <th class="lato text-center"> Servicio </th>
  <th class="lato text-center"> Costo </th>
  <th class="lato text-center"> Seleccionar </th>

</tr>


<%_.each (mant, function(serv){ %>

<tr data-id= "<%= mant.id%>" data-model="Servicio" >
<td class="lato "><%= serv.Nombre %></td>
<td class="lato "><%= serv.Costo %></td>
<td>
<form action="/Admin/Agregarserv" method="POST">
<input type='hidden' name='idServicio' value='<%= serv.id %>' >
<input type='hidden' name='idMant' value='<%= idveh %>' >
<input type='hidden' name='Estado' value='false' >
<button class="btn waves-effect waves-light" type="submit" id="<%= serv.id %>" onclick="deshabilitar(serv.id)" class="lato">Agregar servicio </button></td>
</tr> 
</form>


<% }) %>
</table>

</section>

<form action="/Admin/perfil" >
<button class="btn waves-effect waves-light" type="submit"> Finalizar </button>
</form>


 </body>


<script>
  
  function deshabilitar(par){
    document.getElementById(par).disabled=true;

  }
</script>

 </html>