<!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>


  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>

    <body>


<!-- Barra de navegación -->
<body>
  

<header>
   <nav>
   
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li style="margin-right: 20px;"> <a href=""> Perfil <a></li>
         
    </div>
  </nav>
</nav>
</header>


<section>
<div class="container" align="center">
  <br>
<br>
<h2>Nombre de Usuario</h2>
<h2><%= Nombre[0].Nombre %></h2> 

<table >
<tr> 
  <th class="lato text-center"> Servicio </th>
  <th class="lato text-center"> Costo </th>

</tr>


<%_.each (serv, function(servicios){ %>

<tr data-id= "<%= serv.id %>" data-model="Servicio" >
<td class="lato "> <%= servicios.Nombre %> </td>
<td class="lato "> <%= servicios.Costo %> </td>

</tr>

<% }) %>
</table>

<h2>  Costo neto: </h2>
<h2><%= CostoNeto[0].costoneto %> </h2>
</div>

    </div>

  </div>
  </div>

          <form action="/Factura/create" method="POST">
        <input type='hidden' name='idcliente' value='<%= Nombre[0].id %>' >
        <input type='hidden' name='idMant' value='<%= idMant %>' >
        <input type='hidden' name='Cneto' value='<%= CostoNeto[0].costoneto%>' >
        <input type='hidden' name='Cancelado' value='false' >
        <button class="btn waves-effect waves-light" type="submit" onclick="deshabilitar(serv.id)" class="lato"> Guardar </button></td>
        </tr> 
        </form>




</section>

<br>
<br>
<br>

       

</body>

</html>