<!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>

  <title>MiTaller</title>

  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>

    <body>


<!-- Barra de navegación -->

<header>
   <nav>
   
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li><a href="/Admin/inicio"><i class="material-icons">account_circle</i></a></li>
        
    </div>
  </nav>
</nav>
</header>

<section>
<div class="container">
  <br>
<br>

<table>
<tr> 
  <th class="lato text-center"> Vehiculo </th>
  <th class="lato text-center"> Placa </th>
  <th class="lato text-center"> Ano </th>
  <th class="lato text-center"> Mantenimientos </th>

</tr>


<%_.each (veh, function(carro){ %>

<tr data-id= "<%= veh.id%>" data-model="Vehiculo" >
<td class="lato "><%= carro.Marca %></td>
<td class="lato "><%= carro.Placa %></td>
<td class="lato "><%= carro.Ano %></td>
<td class="lato verde"><a href="/Cliente/Mantenimientos/<%= carro.id %>"> Ver Mantenimientos </a>></td>

</tr>

<% }) %>
</table>

</div>

    </div>


  </div>


</section>


</html>

