<!DOCTYPE html>
  <html>
<head>

  <title>MiTaller</title>


  <meta charset="UTF-8">

  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
          
</head>

    <body>


<!-- Barra de navegación -->
<body>
  

<header>
   <nav>
   
  <nav>
    <div class="nav-wrapper transparent">

    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li style="margin-right: 20px;"> <a href="/Admin/perfil"> Perfil <a></li>
         
    </div>
  </nav>
</nav>
</header>


<section>
<div class="container">
  <br>
<br>

<table >
<tr> 
  <th class="lato text-center"> Servicio </th>
  <th class="lato text-center"> Estado </th>
  <th class="lato text-center"> Costo </th>

</tr>


<%_.each (Servicios, function(serv){ %>

<tr data-id= "<%= Servicios.id %>" data-model="Servicio" >
<td class="lato "> <%= serv.Nombre %> </td>
<td class="lato "> <%= serv.Estado %> </td>
<td class="lato "> <%= serv.Costo %> </td>
<td class="lato ">
<form action="/Servicio/actualizar" method="POST">
<input type='hidden' name='id' value='<%= serv.idMs %>' >
<input type='hidden' name='idServicio' value='<%= serv.idServ %>' >
<input type='hidden' name='idMant' value='<%= serv.idMant %>' >
<input type='hidden' name='Estado' value='true' >
<button class="btn waves-effect waves-light" type="submit" onclick="deshabilitar(serv.id)" class="lato"> Servicio listo </button></td>
</form>
</td>
</tr> 



<% }) %>
</table>
</div>

    </div>

  </div>
</div>




</section>



<br>
<br>
<br>

</body>

</html>